.desktop {
  background: rgba(5, 105, 99, 1);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 70px;
}
