.modalOpen {
  border: 1px solid var(--windowsBackgroundPrimary);
  padding: 2px;
  background-color: var(--windowsBackgroundMain);
  width: 300px;
  height: auto;
  position: absolute;
  left: 10px;
  bottom: 60px;
  animation: open 100ms linear;
  display: flex;
}

.modalClose {
  display: none;
}

.side {
  background-image: linear-gradient(
    -180deg,
    var(--windowsBackgroundTitlePrimary),
    var(--windowsBackgroundTitleSecondary)
  );
  width: 10%;
  position: relative;
}

.side span {
  position: absolute;
  bottom: 55px;
  left: -55px;
  transform: rotateZ(-90deg);
  font-size: 1.5rem;
  font-weight: 600;
}

.contentList {
  width: 100%;
}

.contentList a {
  padding-left: 5px;
  text-decoration: none;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.contentList a:hover,
.contentList a:hover button {
  background-color: var(--windowsBackgroundTitlePrimary);
  color: white;
}

.contentList button {
  display: block;
  background-color: transparent;
  width: 100%;
  border: none;
  height: 100%;
  padding-left: 20px;
  color: black;
  text-align: start;
  font-weight: 500;
}

.contentList button::first-letter {
  text-decoration: underline;
}

@keyframes open {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}

/* ================================= */

.inactiveLink {
  text-decoration: none;
  padding-left: 5px;
  text-decoration: none;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
}
