.icon {
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
}

.icon:active p {
  background-color: rgb(6, 6, 255);
}

.icon p {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.icon:hover {
  cursor: pointer;
}
