.section {
  padding: 0;
  margin-top: 8rem;
}
.container {
  margin: 0 20rem;
}

.outerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.content > h1 {
  font-size: 3.8rem;
  font-weight: 800;
  color: black;
}

.content > h3 {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: justify;
  margin: 4rem 0;
  color: black;
}

.downloadBtn {
  margin-left: 180px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  background: var(--btnColor);
  font-size: 23px;
  font-weight: bold;
  border: none;
}

.disableBtn {
  margin-left: 180px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  background: var(--btnColor);
  font-size: 23px;
  font-weight: bold;
  border: none;
}

.downloadBtn:hover {
  background-color: var(--btnColorActive);
}

.downloadBtn:active {
  background-color: var(--btnColorActive);
  transform: translateY(7px);
}

/* ===================== */

.details {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-top: 3.125rem;
}

.educationDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
}

.educationDetails h2 {
  text-align: start;
  font-size: 2rem;
  font-weight: 400;
  color: black;
}
