* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color-scheme: dark;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

:root {
  --btnColor: #61009f;
  --btnColorActive: #752ba3;
}


