* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  color-scheme: dark;
  perspective: 1000px;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

:root{
  --btnColor: #61009f;
  --btnColorActive: #752ba3;
}