.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  width: 380px;
  height: 484px;
  background-color: #43007a;
  padding: 10px 10px;
  border-radius: 20px;
  margin-top: 180px;
  transform-style: preserve-3d;
}

.cardContainer {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 15px;
  transform: translate3d(0, 0, 20px);
}

/* Card top */

.cardTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  position: relative;
}

.cardTop::before {
  content: "";
  background: url("/assets/userCover.png");
  background-size: 340px 190px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 15px;
  inset: 0;
  width: 100%;
  height: 100%;
}

.userAvt {
  max-width: 130px;
  max-height: 130px;
  border-radius: 15px;
  margin-top: -65px;
  z-index: 1;
}

.textDescription {
  background-color: black;
  width: 297px;
  height: 71px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 71px;
  z-index: 1;
}

/* Card bottom */

.cardBottom {
  padding: 20px 20px;
  border: #43007a 1px solid;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userInfo h4 {
  font-size: 20px;
  color: #43007a;
}

.userInfo p {
  font-size: 16px;
  color: black;
}

.tagList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  color: #43007a;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid #43007a;
  width: max-content;
  padding: 2px 3px;
}
